/* p {
    color: blue;
    font-size: 20px;
}

.b-text {
    color: blue;
    font-size: 20px;
} */


/* Selectores multiples, la clae es la "," */
p, .b-text {
    color: blue;
    font-size: 20px;
}

/* Esto es importante! */